<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block Title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="icon" href="{% static 'network.png' %}" type="image/ico">
    <!-- Meidum style editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Titillium+Web&display=swap" rel="stylesheet">

</head>
  <body>
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light techfont custom-navbar">
        <div class="container">
          <ul class="navbar-nav mr-auto">
            <li><a class="navbar-brand bigbrand" href="{% url 'blog:post_list' %}">My Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'blog:about' %}">About</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'blog:signup' %}">Create an account</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com">Git</a></li>
            <li class="nav-item"><a class="nav-link" href="https://linkedin.com">LinkedIn</a></li>
          </ul>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li><a href="{% url 'blog:post_view' %}">New Post</a></li>
            <li><a href="{% url 'blog:drafts_list' %}">Drafts</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a> Welcome {{user.username}}</a></li>
            {% else %}
            <li class = "nav-item"><a class="nav-link" href="{% url 'login' %}"><span class="glyphicon glyphicon-user" >Login</span></a></li>
            {% endif %}
          </ul>
        </div>
      </nav>


    <!-- Content Block -->
      <div class="content container">
        <div class="row">
          <div class="col-md-8">
            <div class="blog_posts">
              {% block mainblock %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
